{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1 id="heading">About Me</h1>
        <img src="{% static 'images/admin.png' %}" alt="Profile Image" id="profile">
        <p>Hi, I am Prabesh Gupta. I am a skilled web developer with a passion for graphic designing. I specialize in
            developing visually stunning and user-friendly websites. My proficiency in graphic designing allows me to
            create amazing content that enhances the overall online experience.</p>
    </div>
</body>

</html>